* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    justify-content: center;
}


.first-section {
    display: flex;
    flex-direction: column;

}

.img-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 30px 0px;
}

.fazer-login {
    text-align: center;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 25px;

}

.first-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px 30px;

}

.first-input {
    background-color: #E8E6E6;
    width: 380px;
    height: 58px;
    margin: 8px;
    border: #E8E6E6;
    border-radius: 3px;
}

input::placeholder {
    color: #716E6E;
    position: relative;
    bottom: 25%;
    left: 5%;
    text-transform: capitalize;
}

div,
.face,
.google,
.apple {
    display: flex;
    justify-content: space-evenly;
   



}

.face {
    background-color: #2051FF;
    width: 22%;
    border-radius: 10%;
    height: 120%;
    display: flex;
    align-items: center;
    justify-content: center
    

}

.f {
    width: 27px;

}

.google {
    background-color: #8A0000;
    width: 22%;
    border-radius: 10%;
    height: 120%;
    display: flex;
    align-items: center;
    justify-content: center
}

.apple {
    background-color: black;
    width: 22%;
    border-radius: 10%;
    height: 120%;
    display: flex;
    align-items: center;
    justify-content: center
}
.face:hover,
.google:hover,
.apple:hover{
    width: 23%;
}
div {
    margin-bottom: 20px;

}

.second-form label {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 700;


}

.second-form {
    margin: 0px 0px 30px 37px;
}

.acesso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.acesso a:hover{
    color: #a90707;
}

button {
    width: 65px;
    background-color: #FF002E36; 
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border: #FF002E36;

}
button:hover{
    cursor: pointer;
    width: 70px;
   
}




.img-dragao {

    width: 100%;
    height: 600px;

}

/* Parte do javascript */

.vermelho{
    background-color: red;
}



@media(max-width:800px){
    header {display: none}
    main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

   

    .img-dragao {

      
        width: 100%;
        height: 400px;
    
    }

.first-section{
    width: 100%;
}

form input{
    height: 30%;
      
 }
 .fazer-login {
    text-align: center;
    margin: auto;
    font-size: 20px;

}
.first-form {

    margin: auto;

}


.first-input {

        width: 400px;
        height: 58px;
    
   
}

.redes{
    width: 63%;
    margin: auto;
    margin-bottom: 20px;
    
}

.second-input{
  
    width: 13px;
    height: 13px;
    margin-left: 150px;
    border-radius: 3px;
}

}